{% extends "projetos/index.html" %} {% load staticfiles %} {% block headercss %}
<link href="{% static 'assets/morris.js-0.4.3/morris.css' %}" rel="stylesheet" /> {% endblock headercss %} {% block content %}
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <aside class="profile-info col-lg-12">
            <section class="panel">
                <div class="row">
                    {% include "projetos/menu.html" %} </div>
                <div class="bio-graph-heading">
                    PRE - UFSM
                </div>
                </div>
            </section>
            <section>
                <div id="morris">                    
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                
                                <header proader class="panel-heading">
                                  Filtro - Projetos / Departamento
                                    <form id="frm_pesquisa" method="post" action="{% url request|viewname %}">
                                        {% csrf_token %}
                                        <div class="checkboxes input-group m-bot30 col-lg-12">
                                            {% for k, v in projeto_departamento_todos.items %}
                                                <label class="label_check" for="{{v.id}}">
                                                <input name="{{v.id}}" id="{{v.id}}" type="checkbox" {% if v.id in filtro_deps %} checked {% endif %} /> {{k}} </label>
                                            {% endfor %}
                                        </div>
                                        <span class="input-group-btn">
                                          <button type="submit" class="btn btn-white" type="button">Filtrar</button>
                                        </span>
                                    </form>
                                </header>
                                <div class="panel-body">
                                    <div id="bar_departamento" class="graph"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Projetos / Unidade
                                </header>
                                 <form action="">

                                    <table><tr>
                                        <td><input type="checkbox" name="vehicle" value="M-LP"> MATEMÁTICA - LICENCIATURA PLENA&nbsp&nbsp&nbsp </td>
                                        <td><input type="checkbox" name="vehicle" value="RM-GO"> RESIDÊNCIA MÉDICA - GINECOLOGIA E OBSTETRICIA</td>
                                        <td><input type="checkbox" name="vehicle" value="PG-ME"> PG-M EM ENFERMAGEM &nbsp&nbsp&nbsp</td>
                                        <td><input type="checkbox" name="vehicle" value="PGCC-MA"> PÓS-GRADUAÇÃO EM CIÊNCIA DA COMPUTAÇÃO - MESTRADO ACADÊMICO</td>
                                        </tr>

                                        <tr><td><input type="checkbox" name="vehicle" value="AC-DT"> ARTES CÊNICAS - DIREÇÃO TEATRAL</td>
                                          <td><input type="checkbox" name="vehicle" value="P-LPD"> PEDAGOGIA - LICENCIATURA PLENA DIURNO</td>
                                          <td><input type="checkbox" name="vehicle" value="Q-LP"> QUÍMICA - LICENCIATURA PLENA</td>
                                          <td> <input type="checkbox" name="vehicle" value="F-LP"> FÍSICA - LICENCIATURA PLENA</td>
                                        </tr>
                                          <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M"> PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M"> MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG"> PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E"> DESENHO E PLÁSTICA - ESCULTURA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="F-HTA"> FARMÁCIA - HABILITAÇÃO TECNOLOGIA DE ALIMENTOS</td>
                                        <td><input type="checkbox" name="vehicle" value="PGV-FR-M"> PG MEDICINA VETERINÁRIA - FISIOPATOLOGIA REPRODUÇÃO-MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGEP-PP-M"> PG ENGENHARIA PRODUÇÃO - PROJETO DO PRODUTO- MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGCMH"> PG CIÊNCIA DO MOVIMENTO HUMANO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGE-D"> PG EDUCAÇÃO - DOUTORADO</td>
                                        <td><input type="checkbox" name="vehicle" value="CLG">  CIÊNCIAS LICENCIATURA DE 1ºGRAU </td>
                                        <td><input type="checkbox" name="vehicle" value="DP-B"> DESENHO E PLÁSTICA - BACHARELADO</td>
                                        <td><input type="checkbox" name="vehicle" value="CS-HPP"> COMUNICAÇÃO SOCIAL - HAB. PUBLICIDADE E PROPAGANDA</td>

                                        
                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="A"> ARQUIVOLOGIA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGC-M"> PG ENGENHARIA CIVIL - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="F-HFI"> FARMÁCIA - HABILITAÇÃO FARMACEUTICO INDUSTRIAL</td>
                                        <td><input type="checkbox" name="vehicle" value="MA"> MOBILIDADE ACADÊMICA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="A-N"> ADMINISTRAÇÃO - NOTURNO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGGE"> PG GESTÃO EMPRESARIAL</td>
                                        <td><input type="checkbox" name="vehicle" value="PPGAV-E"> PPG EM ARTE E VISUALIDADE - ESPECIALIZAÇÃO</td>
                                        <td><input type="checkbox" name="vehicle" value="P-AIEF-LPN"> PEDAG - ANOS INICIAIS ENSINO FUNDAMENTAL - LIC.PLENA NOTURNO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="F-HF"> FARMÁCIA - HABILITAÇÃO FARMACÊUTICO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGMV-PV-M"> PG MEDICINA VETERINÁRIA - PATOLOGIA VETERINÁRIA- MESTRADO </td>
                                        <td><input type="checkbox" name="vehicle" value="PGL"> PG LETRAS</td>
                                        <td><input type="checkbox" name="vehicle" value="DD">  DIREITO DIURNO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="M"> MEDICINA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGF-M"> PG FILOSOFIA - MESTRADO </td>
                                        <td><input type="checkbox" name="vehicle" value="CB-NC"> CIÊNCIAS BIOLÓGICAS - NÚCLEO COMUM</td>
                                        <td><input type="checkbox" name="vehicle" value="AV-LPDP">  ARTES VISUAIS - LIC. PLENA EM DESENHO E PLÁSTICA </td>
                                        

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGEGRRH"> PG ESPECIALIZAÇÃO EM GESTORES REGIONAIS DE RECURSOS HÍDRICOS</td>
                                        <td><input type="checkbox" name="vehicle" value="EGEESJP"> ESPEC. GESTÃO EDUCACIONAL/EAD/SÃO JOÃO DO POLÊSINE/RS </td>
                                        <td><input type="checkbox" name="vehicle" value="PG-EIIOSO">  PG-E INTERPRETAÇÃO IMAGENS ORBITAIS E SUB-ORBITAIS </td>
                                        <td><input type="checkbox" name="vehicle" value="L-LPPLP"> LETRAS - LICENCIATURA PLENA - PORTUGUÊS LIT PORTUGUESA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGMV-CV-M"> PG MEDICINA VETERINÁRIA - CIRURGIA VETERINÁRIA- MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="MV">  MEDICINA VETERINÁRIA </td>
                                        <td><input type="checkbox" name="vehicle" value="EA-M">  EDUCAÇÃO ARTÍSTICA - MÚSICA</td>
                                        <td><input type="checkbox" name="vehicle" value="CELS"> CURSO ESPECIAL DE LICENCIATURA EM SOCIOLOGIA </td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="M-BV">  MÚSICA - BACHARELADO VIOLA</td>
                                        <td><input type="checkbox" name="vehicle" value="AEPG">  ALUNO ESPECIAL DE PÓS-GRADUAÇÃO </td>
                                        <td><input type="checkbox" name="vehicle" value="PGEA"> PG EDUCAÇÃO AMBIENTAL</td>
                                        <td><input type="checkbox" name="vehicle" value="EF-B"> EDUCAÇÃO FÍSICA - BACHARELADO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="E"> ENFERMAGEM</td>
                                        <td><input type="checkbox" name="vehicle" value="AV-BDP"> ARTES VISUAIS - BACHARELADO EM  DESENHO E PLÁSTICA </td>
                                        <td><input type="checkbox" name="vehicle" value="CANCPM">  CURSO DE ADMINISTRAÇÃO - NOTURNO/CESNORS/PM</td>
                                        <td><input type="checkbox" name="vehicle" value="EF"> EDUCAÇÃO FÍSICA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="L-E"> LETRAS - ESPANHOL</td>
                                        <td><input type="checkbox" name="vehicle" value="PGHB-E"> PG HISTÓRIA DO BRASIL - ESPECIALIZAÇÃO </td>
                                        <td><input type="checkbox" name="vehicle" value="M-NC"> MATEMÁTICA  - NÚCLEO COMUM</td>
                                        <td><input type="checkbox" name="vehicle" value="CA-D/C/PM"> CURSO DE ADMINISTRAÇÃO - DIURNO/CESNORS/PM</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGG-M"> PG EM GEOGRAFIA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="EEEDCESEPU"> ESP. EDUC. ESP. DÉFICIT COGNITIVO E EDUC. SURDOS/EAD/POLO UFSM </td>
                                        <td><input type="checkbox" name="vehicle" value="CS-HRP"> COMUNICAÇÃO SOCIAL - HAB. RELAÇÕES PÚBLICAS</td>
                                        <td><input type="checkbox" name="vehicle" value="PGMV-CM-M"> PG MEDICINA VETERINÁRIA - CLÍNICA MÉDICA- MESTRADO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="TC">  TECNÓLOGO EM COOPERATIVISMO </td>
                                        <td><input type="checkbox" name="vehicle" value="F"> FISIOTERAPIA </td>
                                        <td><input type="checkbox" name="vehicle" value="F-B"> FÍSICA - BACHARELADO</td>
                                        <td><input type="checkbox" name="vehicle" value="CS-HJ"> COMUNICAÇÃO SOCIAL - HAB. JORNALISMO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PG-EAFCEC">  PG-E AGRICULTURA FAMILIAR CAMPONESA E EDUCAÇÃO DO CAMPO</td>
                                        <td><input type="checkbox" name="vehicle" value="CC"> CIÊNCIAS CONTÁBEIS </td>
                                        <td><input type="checkbox" name="vehicle" value="RM-C"> RESIDÊNCIA MÉDICA - CIRURGIA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGCTA"> PG CIÊNCIA E TECNOLOGIA DOS ALIMENTOS - M</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="F-MFBOAC">  FARMÁCIA - MOD:FARMACÊUTICO BIOQUÍMICO OP: ANÁLISES CLÍNICAS</td>
                                        <td><input type="checkbox" name="vehicle" value="M-B"> MATEMÁTICA - BACHARELADO </td>
                                        <td><input type="checkbox" name="vehicle" value="EE-HDA"> EDUCAÇÃO ESPECIAL - HAB. DEFICIENTES DA AUDIOCOMUNICAÇÃO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGEA-M">  PG ENGENHARIA AGRÍCOLA - MESTRADO </td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="CE-D"> CIÊNCIAS ECONÔMICAS - DIURNO</td>
                                        <td><input type="checkbox" name="vehicle" value="H-LP">  HISTÓRIA - LICENCIATURA PLENA </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MSI"> PEDAGOGIA - MAGISTÉRIO SÉRIES INICIAIS</td>
                                        <td><input type="checkbox" name="vehicle" value="GH-L/B"> GRADUAÇÃO EM HISTÓRIA - LICENCIATURA/BACHARELADO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="L-LP-HPF"> LETRAS - LICENCIATURA PLENA - HAB. PORTUGUÊS/FRANCÊS</td>
                                        <td><input type="checkbox" name="vehicle" value="AC-IT"> ARTES CÊNICAS - INTERPRETAÇÃO TEATRAL </td>
                                        <td><input type="checkbox" name="vehicle" value="M-OI"> MÚSICA - OPÇÃO INSTRUMENTO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGEF-D"> PG ENGENHARIA FLORESTAL - DOUTORADO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="M-LP"> MÚSICA - LICENCIATURA PLENA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGMV-P-M">  PG MEDICINA VETERINÁRIA - PREVENTIVA - MESTRADO </td>
                                        <td><input type="checkbox" name="vehicle" value="L-PLLP">  LETRAS - PORTUGUÊS / LITERATURA LÍNGUA PORTUGUESA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGGE"> PG GESTÃO EDUCACIONAL</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="P-LPN"> PEDAGOGIA - LICENCIATURA PLENA NOTURNO</td>
                                        <td><input type="checkbox" name="vehicle" value="CBE-N"> CURSO DE BACHARELADO EM ESTATÍSTICA - NOTURNO </td>
                                        <td><input type="checkbox" name="vehicle" value="M-BV"> MÚSICA - BACHARELADO VIOLINO</td>
                                        <td><input type="checkbox" name="vehicle" value="L-LHILLI"> LETRAS - LIC.- HAB. INGLÊS E LITERATURAS LÍNGUA INGLESA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGTD"> PG TÉCNICAS DESPORTIVAS</td>
                                        <td><input type="checkbox" name="vehicle" value="M-BT"> MÚSICA - BACHARELADO TROMPETE </td>
                                        <td><input type="checkbox" name="vehicle" value="EQ"> ENGENHARIA QUÍMICA</td>
                                        <td><input type="checkbox" name="vehicle" value="PGEG"> PG ESPECIALIZAÇÃO EM GEOMÁTICA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-EAFDMS"> PG-E EM ATIVIDADE FÍSICA, DESEMPENHO MOTOR E SAÚDE</td>
                                        <td><input type="checkbox" name="vehicle" value="PGG-E"> PG GEOCIÊNCIAS - ESPECIALIZAÇÃO </td>
                                        <td><input type="checkbox" name="vehicle" value="AU"> ARQUITETURA E URBANISMO</td>
                                        <td><input type="checkbox" name="vehicle" value="M-BT"> MÚSICA - BACHARELADO TROMPA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGEF-M"> PG ENGENHARIA FLORESTAL - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGPPC-M"> PG PROFISSIONALIZANTE EM PATRIMÔNIO CULTURAL- MESTRADO </td>
                                        <td><input type="checkbox" name="vehicle" value="LP-AIEF"> LICENCIATURA  PEDAGOGIA - ANOS INICIAIS ENSINO FUNDAMENTAL</td>
                                        <td><input type="checkbox" name="vehicle" value="PGZ-D"> PG ZOOTECNIA - DOUTORADO</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>

                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>


                                        <tr>
                                        <td><input type="checkbox" name="vehicle" value="PGQ-M">PG QUÍMICA - MESTRADO</td>
                                        <td><input type="checkbox" name="vehicle" value="PGL-EL-M">MÚSICA - BACHARELADO TROMBONE </td>
                                        <td><input type="checkbox" name="vehicle" value="P-MMPG">PEDAGOGIA - MAGISTÉRIO MAT.PED.2O.GRAU</td>
                                        <td><input type="checkbox" name="vehicle" value="DP-E">DESENHO E PLÁSTICA - ESCULTURA</td>
                                        </table>

                                          

                                               
                                          
                                                                           
                                          
                                           
                                           
                                                                                   
                                          
                                           
                                         
                                          

                                          

                                      </form>
                                <div class="panel-body">
                                    <div id="bar_unidade_proj" class="graph"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Participantes / Unidade
                                </header>
                                <div class="panel-body">
                                    <div id="bar_unidade_part" class="graph"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        </div>
        <!-- page end-->
    </section>
</section>
{% endblock content %} {% block pluginsjs %}
<script src="{% static 'assets/chart-master/Chart2.js' %}"></script>
<script src="{% static 'assets/morris.js-0.4.3/morris.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/morris.js-0.4.3/raphael-min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
{% endblock pluginsjs %} {% block js-foot %}
<script>
    $(function() {
      $(".knob").knob({
        'draw' : function () { 
          $(this.i).val(this.cv + '%')
        }
      });
      
      var barDepartamentoData = [
          {% for k, v in projeto_departamento.items %}
            { departamento: '{{ k }}', projetos: {{ v.count }} },
          {% endfor %}
      ]
      Morris.Bar({
        element: 'bar_departamento',
        data: barDepartamentoData,
        xkey: 'departamento',
        ykeys: ['projetos'],
        labels: ['Projetos'],
        barRatio: 0.4,
        xLabelAngle: 35,
        hideHover: 'auto',
        barColors: ['#6883a3']
      });


      var barProjUnidadeData = [
          {% for k, v in projeto_unidade.items %}
            { unidade: '{{ k }}', projetos: {{ v }} },
          {% endfor %}
      ]
      Morris.Bar({
        element: 'bar_unidade_proj',
        data: barProjUnidadeData,
        xkey: 'unidade',
        ykeys: ['projetos'],
        labels: ['Projetos'],
        barRatio: 0.4,
        xLabelAngle: 35,
        hideHover: 'auto',
        barColors: ['#6883a3']
      });
      var barPartUnidadeData = [
          {% for k, v in participante_unidade.items %}
            { unidade: '{{ k }}', partipante: {{ v }} },
          {% endfor %}
      ]
      Morris.Bar({
        element: 'bar_unidade_part',
        data: barPartUnidadeData,
        xkey: 'unidade',
        ykeys: ['partipante'],
        labels: ['Participantes'],
        barRatio: 0.4,
        xLabelAngle: 35,
        hideHover: 'auto',
        barColors: ['#6883a3']
      });
    });
</script>
{% endblock %}
</body>

</html>
