

{% load staticfiles %}

<aside class="profile-nav col-lg-12">
    <section class="panel">
        
        <ul class="nav navbar-nav">
            <li {% if menu == 'home' %}class="active"{% endif %}><a href="{% url 'site:home' %}"> <i class="icon-home"></i> Inicial</a></li>
            <li {% if menu == 'participantes' %}class="active"{% endif %}><a href="{% url 'site:participantes' %}"> <i class="icon-user"></i> Participantes <span class="label label-danger pull-right label-quantidade">{{ total_participantes }}</span></a></li>
            <li {% if menu == 'projetos' %}class="active"{% endif %}><a href="{% url 'site:projetos' %}"> <i class="icon-calendar"></i> Projetos <span class="label label-danger pull-right label-quantidade">{{ total_projetos }}</span></a></li>
            <li {% if menu == 'sobre' %}class="active"{% endif %}><a href="{% url 'site:sobre' %}"> <i class="icon-star"></i> Sobre (PRE) </a></li>
        </ul>
    </section>
</aside>